<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.project_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application>
        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="AIzaSyANDoRJiom4nvR9iA9ExEto3aG0W8Yc5YI"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
